@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}
body{
     background-color: #b8c6db;
    background: #5433FF;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .glass{
      margin: 50px;
      text-align: center;
      background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
.Boody {
  background-color: #b8c6db;
    background: #5433FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
}
.navbar-collapse .collapse{
  margin-top: 0;
}
.glass h1,h3 {
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}
table th{
  color: #fff;
}

table{
  border-collapse: unset;
}